/* You can add global styles to this file, and also import other style files */

html, body { height: 100%!important; }
body { margin: 0; font-family: "Nunito Sans",  Roboto, "Helvetica Neue", sans-serif; }
.p-15{
  padding: 15px;
}
.black{
  background-color: black;
  color: white;
  &:hover{
    color: white;
  }
}
.red{
  color: red;
  &:hover{
    color: red;
  }
}
